body
{
    background-color: green;
}

#start
{
    background-color: red;
    text-align: center;
    font-size: 48px;
    font-family: monospace;
    position: absolute;
    top: 65%;
    left: 40%;
    color: white;
}

#start:active
{
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#hitter
{
    background-color: red;
    text-align: center;
    font-size: 48px;
    font-family: monospace;
    position: absolute;
    top: 75%;
    left: 30%;
    color:white;
}

#stayer
{
    background-color: red;
    text-align: center;
    font-size: 48px;
    font-family: monospace;
    position: absolute;
    top: 75%;
    left: 50%;
    color: white;
}

#loser
{
    font-size: 72px;
    text-align: center;
    font-family: monospace;
    position: absolute;
    color: red;
    top: 50%;
    left: 35%;
}

#pictures
{
    padding-right: 5px;
}

#lul, #lol
{
    font-family: monospace;
    color: black;
    font-size: 50px;
}

#dealerPictures
{
    padding-top: 100px;
}

#hander
{
    font-size: 60px;
    font-family: monospace;
    color:black;
    padding-right: 50px;
    display: none;
}

#dealerHander
{
    font-size: 60px;
    font-family: monospace;
    color:black;
    padding-right: 50px;
    display: none;
}


