body
{
    background-color: green;
}

#start
{
    background-color: red;
    text-align: center;
    font-size: 48px;
    font-family: monospace;
    position: absolute;
    top: 65%;
    left: 40%;
}

#start:active
{
    background-color: blue;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

#hitter
{
    background-color: red;
    text-align: center;
    font-size: 48px;
    font-family: monospace;
    position: absolute;
    top: 75%;
    left: 30%;
}

#stayer
{
    background-color: red;
    text-align: center;
    font-size: 48px;
    font-family: monospace;
    position: absolute;
    top: 75%;
    left: 50%;   
}

#loser
{
    font-size: 72px;
    text-align: center;
    font-family: monospace;
    position: absolute;
    color: red;
    top: 50%;
    left: 35%;
}


